<!doctype html>
<html ng-app='bizApp' class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        <link rel="stylesheet" href="static/css/normalize.css">
        <link rel="stylesheet" href="static/css/main.css">
        <script src="static/js/vendor/modernizr-2.8.0.min.js"></script>
    </head>
    <body ng-controller='Main as ctrl'>
      <h1 class="title" ng-mouseover='ctrl.circleHover()' ng-mousedown='ctrl.circlePress()'>BizBuy</h1>

      <div class='input'>
        <input type="text" placeholder='min' ng-model='ctrl.min'/>
        <input type="text" placeholder='max' ng-model='ctrl.cutoff'/>
        <button ng-click='ctrl.submit()'>Submit</button>
      </div>
      <div class="results">
        <h2 ng-bind="ctrl.title"></h2>
        <p ng-bind="ctrl.price"></p>
        <p ng-bind="ctrl.cflow"></p>
      </div>




        <script src="static/js/angular.min.js"></script>
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/plugins.js"></script>
        <script src="static/js/main.js"></script>
        <script src="static/js/d3.min.js"></script>
        <script type='text/javascript'>
          angular.module('bizApp', []).controller('Main', ['$http', function($http) {

            console.log('started');

            var self=this;

                // Simple GET request example :
            $http.get('static/data/data.json').
                success(function(data) {
                self.bizdata=data;
                g= data.data;

                self.title='Title';
                self.price='Price';
                self.cflow='Cash-Flow';
                self.min = 0;
                self.cutoff = 300000;
                //create grid
                margin = 40;
                grid = {
                  height:600+margin,
                  width:900+margin,
                  maxX: d3.max(g, function(d){
                    return d.price;
                  }),
                  maxY:d3.max(g, function(d){
                    return d.cash_flow/d.price
                  }),
                };


                scale= {
                  x: d3.scale.linear()
                  .domain([self.min, self.cutoff])
                  .range([margin, grid.width-margin]),
                  y: d3.scale.linear()
                  .domain([0, grid.maxY])
                  .range([grid.height-margin, margin])
                };


                xpos = function(d){
                  return scale.x(d.price)
                };

                ypos = function(d){
                  return scale.y(d.cash_flow/d.price)
                };

                rad = function(d){
                  return Math.sqrt((d.cash_flow/d.price/grid.maxY*grid.height)) +4
                };

                colorval= function(d){
                  return d.cash_flow/d.price/grid.maxY
                };

                color =
                  d3.scale.linear()
                  .domain([0,.5,1])
                  .range(['red','lightblue','lightgreen']);

                var xaxis = d3.svg.axis()
                  .scale(scale.x)
                  .orient('bottom')
                  ;

                var yaxis = d3.svg.axis()
                  .scale(scale.y)
                  .orient('left')
                  ;



                svg = d3.select('body')
                  .append('svg')
                  .attr('width', grid.width)
                  .attr('height', grid.height)
                  .attr('class', 'grid');



                svg.selectAll('circle')
                  .data(g)
                  .enter()
                  .append('circle')
                  .attr('cx', xpos)
                  .attr('cy', ypos)
                  .attr('r', rad)
                  .attr('ng-mouseover', 'ctrl.circleHover()')
                  .attr('ng-mousedown','ctrl.circlePress()')
                  .attr('data-title',function(d){return d.title})
                  .attr('data-price',function(d){return d.price})
                  .attr('data-cflow',function(d){return d.cash_flow})
                  .attr('href',function(d){return d.href})
                  .attr('stroke', 'black')
                  .attr('stroke-width','2')
                  .attr('fill', function(d){
                    return color(colorval(d));});



                  svg.append('g')
                  .attr('transform','translate(0,'+(grid.height-margin)+')')
                  .attr('class','axis xaxis')
                  .call(xaxis);

                  svg.append('g')
                    .attr('transform','translate('+margin+',0)')
                    .attr('class','axis yaxis')
                    .call(yaxis);

                  // ** Update data section (Called from the onclick)

                  //User Input

                  self.circleHover = function(){
                    console.log('hover');
                  };

                  self.circlePress = function(){
                    console.log('press');
                  }

                  self.submit=function(){
                    console.log('Max is now '+self.cutoff);
                    console.log('new range is now');
                    scale= {
                      x: d3.scale.linear()
                      .domain([self.min, self.cutoff])
                      .range([margin, grid.width-margin]),
                      y: d3.scale.linear()
                      .domain([0, grid.maxY])
                      .range([grid.height-margin, margin])
                    };

                    var xaxis = d3.svg.axis()
                      .scale(scale.x)
                      .orient('bottom')
                      ;

                    var yaxis = d3.svg.axis()
                      .scale(scale.y)
                      .orient('left')
                      ;

                    svg.selectAll('circle')
                      .data(g)
                      .attr('cx', xpos)
                      .attr('cy', ypos);

                    svg.selectAll('.xaxis').call(xaxis);
                    svg.selectAll('.yaxis').call(yaxis);

                  };



              })
              .error(function() {alert('error retrieving data')
              });


          }])
        </script>

    </body>
</html>
